{% extends 'register/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Delete {{ person.username }}?</h2>
            <p>Are you sure you hang up your shoes?</p>
        </div>
        <div class="col-md-3"></div>
    </div>

        <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">{{ person.image }}</div>
            <div class="col-md-4">
                <table id="profile_details">
                    <tbody>
                        <tr>
                            <th>Username</th><td>{{ person.username }}</td>
                        </tr>
                        <tr>
                            <th>Gender</th><td>{{ person.gender }}</td>
                        </tr>
                        <tr>
                            <th>Hometown</th><td>{{ person.hometown }}</td>
                        </tr>
                        <tr>
                            <th>D.O.B.</th><td>{{ person.date_of_birth }}</td>
                        </tr>
                        <tr>
                            <th>Current location</th><td>{{ person.current_location }}</td>
                        </tr>
                        <tr>
                            <th>Bio</th><td>{{ person.biography }}</td>
                        </tr>
                        <tr>
                            <th>Member since</th><td>{{ person.created_at }}</td>
                        </tr>
                        <tr>
                            <form action="" method="post">
                                {% csrf_token %}
                                <td><a href="{% url 'detail' person.id %}"><button type="button">NO!</button></a></td><td><a href="{% url 'delete' person.id %}"><button type="submit">Delete</button></a></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}