{% extends "register/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">{{ person.image }}</div>
            <div class="col-md-6">
                <table id="profile_details">
                    <tbody>
                        <tr>
                            <th>Username</th><td>{{ person.username }}</td>
                        </tr>
                        <tr>
                            <th>Gender</th><td>{{ person.gender }}</td>
                        </tr>
                        <tr>
                            <th>Hometown</th><td><input type="text" name="hometown" value="{{ person.hometown }}" /></td>
                        </tr>
                        <tr>
                            <th>D.O.B.</th><td>{{ person.date_of_birth }}</td>
                        </tr>
                        <tr>
                            <th>Current location</th><td><input type="text" name="current_location" value="{{ person.current_location }}" /></td>
                        </tr>
                        <tr>
                            <th>Bio</th><td><input type="text" name="biography" value="{{ person.biography }}" /></td>
                        </tr>
                        <tr>
                            <th>Member since</th><td>{{ person.created_at }}</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'update' person.id %}"><button type="button">Update</button></a></td><td><a href="{% url 'delete' person.id %}"><button type="button">Delete</button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}