{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Travellers</title>#}
{#</head>#}
{#<body>#}
{#<ul>#}
{#    {% for t in travellers %}#}
{#        <li><a href="./{{ t.id }}">{{ t.username }}, {{ t.email }}</a></li>#}
{#    {% endfor %}#}
{#</ul>#}
{#</body>#}
{#</html>#}
{% extends "register/base.html" %}
{% block content %}
    <div class="container-fluid">
        {% for t in travellers %}
        <div class="traveller">
        <a href="./{{ t.id }}">
            <img src="" alt="{{ t.username }}" class="traveller_pic"/>
            <div class="traveller_username">
                {{ t.username }}
            </div>
        </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}