{% extends "register/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">{{ person.image }}</div>
            <div class="col-md-4">
                <table id="profile_details">
                    <tbody>
                        <tr>
                            <th>Username</th><td>{{ person.username }}</td>
                        </tr>
                        <tr>
                            <th>Gender</th><td>{{ person.gender }}</td>
                        </tr>
                        <tr>
                            <th>Hometown</th><td>{{ person.hometown }}</td>
                        </tr>
                        <tr>
                            <th>D.O.B.</th><td>{{ person.date_of_birth }}</td>
                        </tr>
                        <tr>
                            <th>Current location</th><td>{{ person.current_location }}</td>
                        </tr>
                        <tr>
                            <th>Bio</th><td>{{ person.biography }}</td>
                        </tr>
                        <tr>
                            <th>Member since</th><td>{{ person.created_at }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>


{% endblock %}
